.section-features {
  position: relative;
  width: 100vw;
  height: 100%;

  &__top-backgound {
    position: relative;
    width: 100vw;
    height: 450px;

    & img {
      object-fit: cover;
      width: 100%;
      height: 500px;
    }
  }

  &__phone-image-container {
    position: absolute;
    top: 0;
    right: 19%;

    @include mobile {
      display: none;
    }

    @include tablet {
      display: none;
    }

    @include desktop {
      display: block;
    }
  }
  &__navigation-buttons-container {
    position: absolute;
    top: 470px;
    bottom: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;

    @include tablet {
      top: 480px;
      height: 40px;
    }
  }
  &__navigation-left-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 100%;
    background: #fff;

    @include tablet {
      width: 40px;
    }

    & img {
      transform: rotate(90deg);
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__navigation-right-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 100%;
    background: #fff;

    @include tablet {
      width: 40px;
    }

    & img {
      transform: rotate(-90deg);
    }
    &:hover {
      cursor: pointer;
    }
  }

  &__bottom-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    min-height: 370px;
    max-height: 100%;
    background-color: $primary_color;
  }

  &__text-container {
    display: flex;
    justify-content: space-between;
    width: 65%;
    height: 70%;
    color: #fff;
    margin-left: 18%;
    padding-top: 100px;

    @include tablet {
      padding-top: 140px;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      margin-left: 0;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__big-text {
    width: 500px;
    height: fit-content;
    font-size: 50px;
    font-family: $primary_font_family;
    font-weight: $font_bold;

    @include tablet {
      width: 100%;
      font-size: 36px;
    }
  }
  &__small-text {
    width: 600px;
    align-self: flex-end;
    font-size: $font_s;
    font-family: $secondary_font_family;
    font-weight: $font_light;
    line-height: $line_height_xs;

    @include tablet {
      width: 100%;
      font-size: 16px;
    }
  }
  &__bottom-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__bottom-text {
    width: 25%;
    padding: 20px;
    border-top: 2px dotted rgba(255, 255, 255, 0.2);
    text-align: center;
    color: #fff;
    text-decoration: none;

    @include tablet {
      width: 100%;
    }

    &:hover {
      cursor: pointer;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}
