@import 'overview-section';
@import 'features-section';

.section {
  min-height: 100vh;
  scroll-margin-top: 100px;
}

@media screen and (min-width: 1000px) {
  .section {
    scroll-margin-top: 200px;
  }
}
