$font_bold: 700;
$font_regular: 400;
$font_light: 300;

$font_xl: 70px;
$font_l: 30px;
$font_m: 19px;
$font_s: 17px;

$line_height_xl: 80px;
$line_height_m: 40px;
$line_height_s: 26px;
$line_height_xs: 25px;
