// fonts

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@300;400;700&display=swap');

$primary_font_family: 'Poppins', sans-serif;
$secondary_font_family: 'Roboto', sans-serif;

// typography

$font_bold: 700;
$font_regular: 400;
$font_light: 300;

$font_xl: '70px';
$font_l: '30px';
$font_m: '19px';
$font_s: '17px';

$line_height_xl: '80px';
$line_height_m: '40px';
$line_height_s: '26px';
$line_height_xs: '25px';

// colors

$primary_color: #3146ff;
$secondary_color: #01ffcb;
$primary_text_color: #000000;
$background_color: #f7f7f7;
$white: #ffffff;

// reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

// layout

.page_wrapper {
  min-height: 100vh;
  background-color: $background_color;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 200px;
  background-color: $white;
  font-family: $secondary_font_family;
  font-weight: $font_regular;
}

.upper-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  padding-left: 40px;

  &__logo-container {
    padding-top: 40px;
  }

  &__menu-container {
    display: flex;
    width: 50%;
  }

  &__menu-list {
    display: flex;
    align-self: end;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 60%;
    list-style: none;
  }

  &__menu-list-item {
    width: fit-content;
    height: fit-content;
    justify-content: center;
    justify-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  &__get-app-button {
    width: 400px;
    padding: 20px 100px 2px 0;
    background-color: $primary_color;
    color: $white;

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }
}

.signin-button {
  font-weight: $font_bold;
}

.bottom-header {
  height: 50%;

  &__menu-container {
    display: flex;
    height: 100%;
  }

  &__manu-description {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 20%;
  }

  &__menu-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: 100%;
    margin-left: 3%;
    list-style-type: none;
  }

  &__menu-list-item {
    position: relative;
    height: fit-content;
    padding: 4px;

    &:hover {
      cursor: pointer;
    }

    &::after {
      content: '';
      position: absolute;
      left: 6px;
      bottom: 0;
      height: 2px;
      width: 0;
      background: $secondary_color;
      transition: all 0.2s ease-in-out;
    }

    &:hover::after {
      width: 40%;
    }

    &--active {
      position: relative;
      font-size: $font_s;
      font-weight: $font_bold;
      transition: none;

      &::after {
        content: '';
        position: absolute;
        left: 6px;
        bottom: 0;
        height: 2px;
        width: 40%;
        background: $secondary_color;
      }
    }
  }
}

.scrollToSectionLink {
  text-decoration: none;
}

.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid pink;
}

.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30px;
  height: 30px;
  outline: none;

  &:hover {
    cursor: pointer;
  }

  &__span {
    width: 90%;
    height: 4px;
    background: $primary_color;
  }
}

.section {
  min-height: 100vh;
}

@media screen and (max-width: 1000px) {
  .upper-header,
  .bottom-header {
    display: none;
  }

  .header {
    height: 100px;
  }
}

@media screen and (min-width: 1000px) {
  .mobile-header {
    display: none;
  }
}
