$bg-color: lightblue;

body {
    box-sizing: border-box;
    background-color: $bg-color;
}

.joke-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .image-area {
        background-color: lightgrey;
        border: 1px solid;
            border-radius: 50%;
            overflow: hidden;
        .chuck-image {
            display: block;
            margin: 0 auto;
        }
    }

    .joke-box {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        margin: 30px 0;
        border-radius: 33% 10% 60% 50%;
        background-color: #ffffff;
        height: 10%;
    }
}

.get-joke-btn {
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: goldenrod;
    color: #ffffff;
}