.bottom-header {
  height: 50%;

  &__menu-container {
    display: flex;
    height: 100%;
  }

  &__manu-description {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 18%;
  }

  &__menu-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
    height: 100%;
    margin-left: 3%;
    list-style-type: none;
  }

  &__menu-list-item {
    @include desktop-navigation-item;
    @include tab;

    &--active {
      @include tab--active;
    }
  }
}
